.scene{
  width:100vw;
  height:100vh;
}

.canvas{
  background: #000;
}
.right_arrow {
	
	width:0;
	height:0;
	left:23px;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid transparent;
	border-top:6px solid transparent;
	border-right:10px solid black;
  
}
.left_arrow {
	
	width:0;
	height:0;
	left:23px;
	position:absolute;
	border-bottom:6px solid transparent;
	border-left:10px solid transparent;
	border-top:6px solid transparent;
	border-right:10px solid black;
}
.circle {
	width:8px;
	height:8px;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	  -webkit-user-select: none;   
	}
  .picker{
    position:absolute;
    top:0px;
    z-index:100000;
    width:40px;
    height:40px;
    background-color:red;
  }
  .btn1{
	
		position: relative;
		color: white;
		
		text-decoration: none;
		
		user-select: none;
		padding: .2vw 2vh;
		outline: none;
		background-color: #343232;
		background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
		background-repeat: no-repeat;
		background-size: 200% 100%, auto;
		background-position: 200% 0, 0 0;
		
	
	  
	 
  }
  .btn1:active {
	top: 1px;
	box-shadow: none;
  }
  .btn1:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0;
  }